.searched-component {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.searched-component > * {
  width: 100%;
}

.searched-search-bar {
  display: flex;
  justify-content: center;
}

.searched-search-bar input {
  width: 45%;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 1rem;
  border: 1px solid gray;
  text-indent: 1rem;
}

.cuisine {
  display: grid;
  gap: 1rem;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.cuisine-component {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
  gap: 10px;
  background-color: rgb(252, 252, 252);
}

.cuisine-component:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.cuisine-image {
  max-width: 100%;
  border-radius: 1rem;
}

/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 820px) {
  .searched-search-bar input {
    width: 70%;
  }
}

/* sm */
@media (max-width: 640px) {
  .searched-search-bar input {
    width: 70%;
  }
}

/* xs */
@media (max-width: 475px) {
  .searched-search-bar input {
    width: 70%;
  }
}
