* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Navbar component */
/* Cuisine Component */

/* Search component  */

/* Searched Component */

/* Surprise Component */

/* Recipe Component */
